/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/05/2017, 15:21:43
    Author     : citinova
*/

/*body {
    background-image: url("../imagens/fundo.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70%; 
}*/

div .logo-pref img{
    width: 85%;
}

div .caixa{
    background-color:#666;
    border-radius: 10px;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

div .espacamento{
    margin-top: 16%;
}

div .logo-portfolio img{
    width: 30%;
}

div .espacamento-login{
    margin-top: 27%;
}